# LLMs
.claude/*
!.claude/settings.json
!.claude/skills/
.claude/settings.local.json

# Editors
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.nox/
.venv/
venv/

# mkdocs
site/
